<article>
	<h3>How does this work?</h3>
	<p>
		For each act / kink / fantasy&hellip;
	</p>
	<p>
		&hellip; click "G" if you've "given" that actvity, "R" if you've "received" it,
	</p>
	<p>
		&hellip; click the grey boxes to choose your interest in doing it in future, 
	</p>
	<p>
		and you can use the notes area for anything which doesn't fit elsewhere.
	</p>
	<h3>Given / received?</h3>
	<p>
		For BDSM, "given" means "top", &amp; "received" means bottom
	</p>
	<p>
		(or closest role, e.g. for age play "given" could mean "older")
	</p>
	<p>
		For "worship" / "service", "received" means did it, "given" means ordered
		someone to.
	</p>
	<h3>Saving &amp; sharing</h3>
	<p>
		When you're done, click &#x2699; &rsaquo; "Save quiz to file", then send it
		(e.g. via e-mail).
	</p>
	<ul>
		<li>
			<a class="button" href="javascript:history.go(-1);">Back</a>
		</li>
	</ul>
</article>
