<article>
	<h3>How does this work?</h3>
	<p>
		For each act / kink / fantasy&hellip;
	</p>
	<p>
		&hellip; click "G" if you've "given" that actvity, "R" if you've "received"
		it, (turning it red means you've done it; click again to turn it back to
		grey if you made a mistake),
	</p>
	<p>
		&hellip; click the grey boxes to choose your interest in doing it in future, 
	</p>
	<p>
		and you can use the notes area for anything which doesn't fit elsewhere.
	</p>
	<h3>Given / received?</h3>
	<p>
		For BDSM, "given" means "top", &amp; "received" means bottom &ndash;
		or closest role, e.g. for age play "given" could mean "older".
	</p>
	<p>
		"Worship" / "service" is similar, "received" means "made to do it", "given"
		means "had someone do it".
	</p>
	<p>
		With things like "leather clothing", "given" means seeing, "received" means
		wearing.
	</p>
	<h3>Saving &amp; sharing</h3>
	<p>
		When you're done, click &#x2699; &rsaquo; "Save quiz to file", then send it
		(e.g. via Signal message).
	</p>
	<h3>Wanna get involved?</h3>
	<p>
		You can make your own version of this app with any changes you want, and
		suggest those changes back to this version, because this is <a
			href="https://www.gnu.org/philosophy/free-sw.en.html">free software</a>
		(also known as "open source").
	</p>
	<p>
			Start on the <a
			href="https://github.com/fsckfscksleep/dirtyquestions">"dirtyquestions"
			GitHub page</a>.
	</p>
	<ul>
		<li>
			<a class="button" href="javascript:history.go(-1);">Back</a>
		</li>
	</ul>
</article>
