<article>
	<h2>Open quiz</h2>
	<p>
		This will <strong>clear</strong> and <strong>replace</strong> your current
		answers. Make sure you have saved them to JSON or CSV first. If not, <a
			href="javascript:history.go(-1);">go back</a> and do so first.
	</p>
	<ul ng-show="!processing">
		<li>
			<input type="file" id="json_file" name="json_file" filelist-bind />
			<label for="json_file">Upload</label>
		</li>
	</ul>
	<div ng-show="processing">
		<p class="processing">
			Loading..
		</p>
	</div>
</article>
