<section id="quiz">
	<nav id="menu">
		<ul>
			<li><a href="data:application/json,{{exportJSON()}}" download>Save quiz to file</a>
			<li><a href="data:text/csv,{{exportCSV()}}">Download CSV</a>
			<li><a href="#/open">Open saved quiz</a>
			<li><a href="#/reset">Reset</a>
			<li><a href="#/help"><strong>Help</strong></a>
		</ul>
	</nav>
	<form id="filter">
		<ul>
			<li>
				<input id="questionFilterTextTmp" type="text"
					ng-model="questionFilterTextTmp" placeholder="Search questions..." />
			</li>

			<li>
				<label for="questionFilterDone" 
					title="Show all / only done / only not done">Done?</label>
				<input type="checkbox" id="questionFilterDone"
				ng-click="cycle('questionFilterDone')" 
				ng-checked="questionFilterDone"
				ui-indeterminate="questionFilterDoneAny" />
			</li>

			<li>
				<label id="questionFilterRating" 
					for="questionFilterRating"
					show>Willing?</label>
				<select ng-model="questionFilterRating" 
					ng-options="r.id as r.id + ' - ' + r.label for r in ratings">
					<option value="">* - any</option>
				</select>
			</li>

			<li>
				<input id="questionFilterNoteTmp" type="text"
				ng-model="questionFilterNoteTmp" placeholder="Search notes..." />
			</li>
		</ul>
	</form>
	<form id="questions">
		<table>
			<thead>
				<tr>
					<th rowspan="2"></th>
					<th colspan="2">Done?</th>
					<th colspan="2" title="Interested in doing it (again)?">Willing?</th>
					<th>Notes</th>
				</tr>
				<tr>
					<th title="receiving">&larr;</th>
					<th title="giving">&rarr;</th>
					<th title="receiving">&larr;</th>
					<th title="giving">&rarr;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="question in questions.content | filter:questionFilter">
					<td>{{ question.text }}</td>
					<td class="done">
						<input type="checkbox" ng-model="question.done.0"
							id="question_{{ question.id }}_r" />
						<label for="question_{{ question.id }}_r" title="received">R</label>
					</td>
					<td class="done">
						<input type="checkbox" ng-model="question.done.1"
							id="question_{{ question.id }}_g" />
						<label for="question_{{ question.id }}_g" title="given">G</label>
					</td>
					<td class="willing">
						<select ng-model="question.rating.0" ng-options="r.id as r.id + ' - ' + r.label for r in ratings">
						</select>
					</td>
					<td class="willing">
						<select ng-model="question.rating.1" ng-options="r.id as r.id + ' - ' + r.label for r in ratings">
						</select>
					</td>
					<td>
						<textarea ng-model="question.note"
							ng-class="{true: 'open', false: 'closed'}[question.expanded]"
							ng-focus="question.expanded = true"
							ng-click="question.expanded = true"
							ng-blur="question.expanded = false">
						</textarea>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
</section>

<sidebar>
	<p>
		answered <span>{{complete}}</span> of 
		<span>{{questions.content.length}}</span>
		({{complete_percent().toFixed(2)}}%)
	</p>
	<div id="progress">
		<span style="width: {{complete_percent().toFixed(2)}}%;">{{complete_percent().toFixed(2)}} Complete</span>
	</div>
	<dq-visualisation val="ratings_freq"></dq-visualisation>
</sidebar>
